// If you edit this file you need to compile the theme. See README.md for details.
// Global variable overrides. Must be declared before importing Valo.
// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;
// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;
// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;
// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;
// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;
// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  .v-widget {
    padding-right: 10px;
    padding-left: 10px;

    .centerContent {
      .v-slot-iconLabel {
        width: 10% !important;
        color: #2d55cd;
      }


      .v-slot-colored {
        width: 60% !important;
      }
      .centerButton{
        .v-icon{
          color: #2d55cd;
        }
      }

    }

    .maincontent {
      text-align: center;
      width: 100%;

      .layoutleftcontent {
        float: left;
        width: 30%;
      }

      .layoutcentercontent {
        //vertical-align: top;
        //display:inline-block;
        width: 45%;
        float: left;
      }

      .layoutrightcontent {
        #layoutcentercontent {
          width: 25%;
          float: right;
        }
      }
    }


    #leftcontentitem {
      background-color: #ebeeea;
      height: auto;

    }

    #css1 {
      padding-bottom: 10px;
      width: auto !important;
      display: block !important;
    }

    #calender{
      padding-bottom: 10px;
    }


    #contentCaption {
      border-bottom: #2d55cd;
      border-bottom-width: thin;
      border-bottom-style: groove;
    }

    #content {
      border-bottom: #b3b0cd;
      border-bottom-width: thin;
      border-bottom-style: groove;
    }


  }

  .v-menubar-mennuitem {
    background-color: #2d55cd;
    color: snow;

  }

  .login {
    margin-top: 150px;
    margin-left: 500px;
    background-color: #2d55cd;
    align-content: center;

    .v-captiontext {
      color: #e6e6e6;
    }
  }


}
